body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#movingButton {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background-color: red;
    border: 3px solid black;
    cursor: pointer;
    color: white;
    display: flex; /* 使用 Flexbox */
    justify-content: center; /* 水平置中 */
    align-items: center; /* 垂直置中 */
    font-size: 30px;
    font-family: "PMingLiU", "新細明體", serif; /* 設定字體為新細明體 */
    font-weight: bold; /* 設定粗體 */
    transition: transform 0.5s ease-in-out;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#counter {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    font-weight: bold;
    z-index: 1000;
}